.message {
    display: flex;
    align-items: center;
    padding: 9px;
    color: white;
    border-bottom: 1px solid rgb(28, 28, 28);
}

.info {
    margin-left: 20px;
}

.timestamp {
    color: gray;
    margin-left: 20px;
    font-size: x-small;
    opacity: 25%;
}
